title: "Anna Micros"
description: "Data Science & Analytics Portfolio"
remote_theme: "mmistakes/minimal-mistakes@4.24.0"

include: 
- _pages 

plugins:
  - jekyll-include-cache
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-feed
  - jemoji
  - jekyll-seo-tag

markdown: kramdown
kramdown:
  input: GFM
  hard_wrap: false

author:
  name   : "Anna Micros"
  avatar : "/images/bio-animated.png"
  bio    : "Data Science & Analytics, Data Storyteller"

footer:
  links:
    - label: "LinkedIn"
      url: "https://www.linkedin.com/in/anna-micros/"
    - label: "GitHub"
      url: "https://github.com/anna-christina-mikr"
  
defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/ 
