{% if post.external_url %}
  {% assign post_url = post.external_url %}
  {% assign target_blank = "target='_blank' rel='noopener'" %}
{% else %}
  {% assign post_url = post.url | relative_url %}
  {% assign target_blank = "" %}
{% endif %}

<article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
  {% if post.header.teaser %}
    <div class="archive__item-teaser">
      <a href="{{ post_url }}" {{ target_blank }}>
        <img src="{{ post.header.teaser | relative_url }}" alt="">
      </a>
    </div>
  {% endif %}

  <h2 class="archive__item-title" itemprop="headline">
    <a href="{{ post_url }}" {{ target_blank }}>{{ post.title }}</a>
  </h2>

  {% if post.excerpt %}
    <p class="archive__item-excerpt" itemprop="description">
      {{ post.excerpt }}
    </p>
  {% endif %}
</article>
